*.dat
x86_64/
/NeuroML2/report.*txt
/NeuroML2/*.mod
/NeuroML2/HL23PV.hoc
*.gv
/NeuroML2/IClamp_HL23PV.gv.png
/NeuroML2/IClamp_HL23PV.net.png
*_nrn.py
/NeuroML2/NaTg/report.txt
/NeuroML2/IClamp_HL23PV.json
/NeuroML2/NaTg/*.mod
/NeuroML2/NaTg/LEMS_Test_NaTg.xml
/NeuroML2/NaTg/LEMS_Test_NaTg_PV_somatic.xml
/NeuroML2/NaTg/*.hoc
/NeuroML2/Sim_IClamp_HL23PV.json
/NeuroML2/*.hoc
/NeuroML2/IClamp_HL23PYR.json
/NeuroML2/Network.gv.png
/NeuroML2/Network.json
/NeuroML2/Sim_IClamp_HL23PYR.json
/NeuroML2/AMPA_syn.synapse.nml
*code.gen.c
*code.gen.so
*_netpyne.py
/NeuroML2/Sim_TestNetwork.json
/NeuroML2/TestNetwork.json
*_eden.py

.mypy_cache/
/NeuroML2/tests/arm64
